
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ccc;
  }
  
  .header-options {
    display: flex;
    gap: 10px; 
  }
  
  .miDivEspecial {
    font-family: 'Arial', sans-serif;
    line-height: 4em;
    width: 25%;
    float: right;
    border-left:  2px solid #ccc;

  }

  .header-options button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
 
  button {
    padding: 10px 20px;
    margin-top: 10px; 
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
  }

  .row {
    display: flex;
    margin-left: 30px;
    align-items: top;
  }

  .fixed-size-div {
    height: 100px; 
    display: flex;
    align-items: center; 

  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ccc;
  }
  
  .header-options {
    display: flex;
    gap: 10px; 
  }
  
  .header-options button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .header-options button:hover {
    background-color: #0056b3;
  }
  
  .products {
    flex: 2;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
   
  }
  
  .price, .quantity, .total {
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
   
  }
  
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
  }


  
  
 